</div>
</main>
<footer class="avenir pv4 ph3 ph5-m ph6-l pt4-l pb4-l white">
  <small class="f6 db tc">© TED Conferences, LLC. All rights reserved.</small>
  <div class="tc mt3">
    <a href="mailto:{{ site.email }}" title="Contact" class="f6 dib ph2 link white dim">Contact</a>
    <a href="/terms/" title="Terms" class="f6 dib ph2 link white dim">Terms of Use</a>
    <a href="/privacy/" title="Privacy" class="f6 dib ph2 link white dim">Privacy</a>
  </div>
</footer>
<script src="/assets/js/main.js"></script>