<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="image" content="{{site.url}}assets/images/share_image.jpg"> 
  
     <!-- Schema.org for Google -->
     <meta itemprop="name" content="{{ site.title }}">
     <meta itemprop="description" content="{{ site.description }}">
     <meta itemprop="image" content="{{site.url}}assets/images/share_image.jpg">
  
     <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content= "{{site.url}}assets/images/share_image.jpg"/>
    <meta name="og:site_name" content="{{ site.title }}">
    <meta name="og:type" content="website">
  
      <!-- Google Analytics -->
     
      <!-- End Google Analytics -->
      <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" media="all" href="assets/css/main.css" type="text/css">
    <link rel="shortcut icon" href="https://pa.tedcdn.com/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://pa.tedcdn.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  </head>
  